body {
  padding:20px!important;
  padding-top: 10px;
  font: 2.5rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


ccc {
}

ccc.ccc--converted {
  animation: ccc 0.7s ease-in-out;
}

@-webkit-keyframes ccc {
  from {
    background-color: yellow;
  }

  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

#page_container{
  background-color:#d6d6d6; 
  padding:0px;   /*bootstrap override*/
  min-height:100%;
}

#header_container{
  margin:0 20px;
}

#stops{
  padding-top:6rem;
}

.titleBtn{
  font-size: 3rem;
}

.card.activeMode{
  background-color: #cacaca;
}

.card{
  background-color:#efefef;
}

.stopIcon {
  width: 7px;
  background-color: red;
  border-radius: 50%;
}
.stopListEntry{
  border-color: transparent!important;
  background-color: #efefef;
  width: 100%!important;
  padding-left: 18px!important;
  padding-right: 18px!important;
  padding-top: 18px!important;
  padding-bottom: 18px!important;
  margin-bottom: 12px!important;
  -webkit-justify-content: space-between!important;
  justify-content: space-between!important;
  cursor: pointer!important;
  border-radius: 4px!important;


  overflow-x:hidden;
}

.stopName{
  text-overflow: ellipsis;
  overflow:hidden;
  display:inline-block;
  max-width:95%;
}

.stopListData{
  margin:.5rem;
  margin-left:0px;
}

.realtimeDataContainer{
  border-top:1px solid black;
  margin-top:7px;
  padding-top:10px;
  width: 100%!important;

  max-height: 13rem;

  -webkit-justify-content: space-between!important;
  justify-content: space-between!important;
  cursor: pointer!important;  
}

.toggle_collapse{
  float:right;
  display:inline;
  text-align: right;
}

.toggleCollapseIcon{
  margin-right:5px;
  display:inline-block;
}

.realtimeDataTimestamp{
  font-size:2.15rem;
  margin-bottom:5px;
  margin-right:10px;  
}


.card-text.realtimeData{
  padding-top:12px;
  border-top: 1px solid black;
  margin-bottom:12px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  margin-right:40px;
}

div.card-text.realtimeData:nth-child(2){
  border-top:0px;
}

.realtimeDataContainer p{
  margin: 0px 3px 2px 3px;

  width: 100%!important;
  -webkit-justify-content: space-between!important;
  justify-content: space-between!important;
  cursor: pointer!important;
  border-radius: 4px!important;  
  display:block;
}

p.secondRow{
  font-size: 2rem;
  color: #636363;
}

.realtimeDataContainer p.shrink.train{
  flex-shrink: 1;
}

.card-title{
  margin-bottom:.25rem;
  white-space: nowrap;
}

.distance{
  font-size: 2rem
}

.route-number{
  margin:1rem;
  margin-left:0;
  padding:.5rem;
  font-weight: bold;
}

.modal-content{
  height:95%;
}

.modal-dialog{
  max-width:90%;
}

.modal-title, .close{
  font-size: 3rem;
}

.modal-header{
  display:block;
  border-bottom: 2px solid #e9ecef;
}

.modal-body button{
  font-size:2rem;
}