body {
  padding:20px;
  padding-top: 10px;
  font: 1.75rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


ccc {
}

ccc.ccc--converted {
  animation: ccc 0.7s ease-in-out;
}

@-webkit-keyframes ccc {
  from {
    background-color: yellow;
  }

  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

#page_container{
  background-color:#d6d6d6; 
  padding:0px;   /*bootstrap override*/
  min-height:100%;
}

#header_container{
  margin-bottom:10px;
}

.card{
  background-color:#efefef;
}

.stopIcon {
  width: 7px;
  background-color: red;
  border-radius: 50%;
}
.stopListEntry{
  box-shadow: 0 0 10px 2px rgba(31,51,73,.1)!important;
  border-color: transparent!important;
  background-color: #efefef;
  transition: all .125s;
  width: 100%!important;
  padding-left: 18px!important;
  padding-right: 18px!important;
  padding-top: 18px!important;
  padding-bottom: 18px!important;
  margin-bottom: 12px!important;
  -webkit-justify-content: space-between!important;
  justify-content: space-between!important;
  cursor: pointer!important;
  border-radius: 4px!important;


  overflow-x:hidden;
}

.stopListData{
  margin:2px;
  margin-left:0px;
}

.icon:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f068";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

/*
*
* Did some funky margin stuff to get a full-line within the div
* Realtime Container is extra-wide but then has a negative margin 
* Container's parent hides X-overflow so the line appears perfect width
* The value of the negative margin is used in a few places below (vanilla CSS so can't use variables)
* 
* CURRENT NEGATIVE MARGIN: 18 (matches padding of parent -- .stopListEntry)
*
*/
.realtimeDataContainer{
  transition: all .125s;
  border-top:1px solid black;
  margin-top:7px;
  -webkit-justify-content: space-between!important;
  justify-content: space-between!important;
  cursor: pointer!important;  


  padding-top:10px;
  padding-left:18px;
  width: 105%!important;
  margin-left:-2%;

  overflow-y:auto;
  overflow-x:hidden;
  max-height: 400px;
}

.toggle_collapse{
  float:right;
  display:inline;
}

.toggleCollapseIcon{
  margin-right:5px;
}

.collapsed{
  max-height:0px;
}


.realtimeDataHeader{
  font-weight: bold;
  font-size:1.75rem;
  margin-bottom:5px;
}

.realtimeDataTimestamp{
  font-weight: bold;
  font-size:1.5rem;
  margin-bottom:5px;
  margin-right:10px;  
}


.realtimeData{
  margin-top:8px;
  margin-bottom:12px;
}

.realtimeData:last-of-type{
  margin-bottom:0px;
}
.realtimeDataContainer p{
  margin-bottom:2px;
  margin-left:7px;
  transition: all .125s;
  width: 100%!important;
  -webkit-justify-content: space-between!important;
  justify-content: space-between!important;
  cursor: pointer!important;
  border-radius: 4px!important;  
  display:block;
}


  
